<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/almacenStyle.css" />
    <link rel="stylesheet" href="/css/indexStyle.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    
    <div class="navAlmacen">
    <nav class="menu">
      <div class="logo">
        <img id="icono" src="/img/el_ampli_chico.png" alt="Logo">
    </div>

      <ul>
          <li><a href="/index.html" style="color:white">INICIO </a></li>
          <li><a href="/paginas/login.html" style="color:white">REGISTRO</a></li>
          <li><a href="/paginas/pagina_almacen.html" style="color:white" >ALMACEN</a ></li>
          <li><a href="/index.html#bloque_1" style="color:white">NOSOTROS</a></li>
      </ul>

    </nav>
    </div>
    <div id="tituloAlmacen">
        <h1>Almacén</h1> 

    </div>
     
    <!-- lista instrumentos-->

    <section class="sections random-product">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/img/imgAlmacen/freemanElectrica.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="text-dark">Guitarra Freeman electrica</a>
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="badge badge-danger float-right">30%</div>
                  <div class="float-left">
                    <a href="#" class="text-danger">$69.900</a>
                    <br />
                    <small class="text-muted"><del>$48.930</del></small>
                  </div>
                </div>
              </div>
            </div>
            <!--.col-->
            <div class="col-md-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/img/imgAlmacen/ibanezEAcustica.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="text-dark"
                      >Guitarra electroacústica Ibanez PF15ECE, color
                      transparent blue sunburst</a
                    >
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="badge badge-danger float-right">15%</div>
                  <div class="float-left">
                    <a href="#" class="text-danger">$183.900</a>
                    <br />
                    <small class="text-muted"><del>$156.315</del></small>
                  </div>
                </div>
              </div>
            </div>
            <!--.col-->
            <div class="col-md-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/img/imgAlmacen/vizcayaAcustica.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="text-dark"
                      >Guitarra clásica Vizcaya ARCG44, color natural (NT)</a
                    >
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="badge badge-danger float-right"></div>
                  <div class="float-left">
                    <a href="#" class="text-danger">$34.990</a>
                    <br />
                    <small class="text-muted"><del></del></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/img/imgAlmacen/tecladoCasioCtk1500.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="text-dark"
                      >Teclado casio ctk1500</a
                    >
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="badge badge-danger float-right">20%</div>
                  <div class="float-left">
                    <a href="#" class="text-danger">$99.920</a>
                    <br />
                    <small class="text-muted"><del>124.900</del></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/img/imgAlmacen/cajaBateriaTAMA.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="text-dark"
                      >Caja de batería Tama WOODWORKS</a
                    >
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="badge badge-danger float-right"></div>
                  <div class="float-left">
                    <a href="#" class="text-danger">$89.990</a>
                    <br />
                    <small class="text-muted"><del></del></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/img/imgAlmacen/saxoAltoBaldassare.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="text-dark"
                      >Saxo alto Baldassare 6430L, color dorado</a
                    >
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="badge badge-danger float-right">10%</div>
                  <div class="float-left">
                    <a href="#" class="text-danger">$298.710</a>
                    <br />
                    <small class="text-muted"><del>$331.900</del></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/img/imgAlmacen/clarineteCalamardo.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="text-dark"
                      >Clarinete Baldassare 7401,afinación en Bb</a
                    >
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="badge badge-danger float-right">20%</div>
                  <div class="float-left">
                    <a href="#" class="text-danger">$98.320</a>
                    <br />
                    <small class="text-muted"><del>$122.990</del></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/img/imgAlmacen/bateriaYamaha.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="text-dark"
                      >Bateria Acustica Yamaha Rydeen</a
                    >
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="badge badge-danger float-right">25%</div>
                  <div class="float-left">
                    <a href="#" class="text-danger">604.490</a>
                    <br />
                    <small class="text-muted"><del>812.390</del></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img
                  class="card-img-top"
                  src="/img/imgAlmacen/armonicaCromatica.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="#" class="text-dark"
                      >Armónica cromática Baldassare H24C 24 hoyos</a
                    >
                  </h5>
                </div>
                <div class="card-footer">
                  <div class="badge badge-danger float-right">20%</div>
                  <div class="float-left">
                    <a href="#" class="text-danger">$7.992</a>
                    <br />
                    <small class="text-muted"><del>$9.990</del></small>
                  </div>
                </div>
              </div>
            </div>
            <!--.col-->
          </div>
          <!--.row-->
        </div>
        <!--.container-->
      </div>
      <!--.container-fluid-->
    </section>

    
  </body>
</html>
